# Maven #
target/

# Javascript #
node_modules/
jspm_packages/
bower_components/
typings/

# Maven Javascript Plugin#
node/
etc/

# Intellij #
.idea/
*.iml

# Windows #
thumbs.db
desktop.ini

# MAC #
.DS_Store
